<div>
    <% if(rs.length > 0) { %>
    <table border="1">
        <tr>
            <th>Movie Title</th>
            <th>Rating</th>
        </tr>
        <% for (var i=0; rs.length > i; i++) { %>
        <tr>
            <td><%= rs[i].title %></td>
            <td><%= rs[i].rating %></td>
        </tr>
        <% } %>
    </table>
    <% } else { %>
    <p>This user has not rated anything!</p>
    <% } %>
</div>