<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<div id="header">
  <img src="http://www.cs.sonoma.edu/~haderman/cs355/labs/cs355.png" alt="cs355 header">
</div>
<div id="nav">
  <a href="http://www.cs.sonoma.edu/~haderman/">CS355</a>
  <br />
  <a href="http://localhost:3000/helloworld.html">Absolute Link Example</a>
  <br />
  <a href="/movie/all">Get All Movies</a>
  <br />
  <a href="/movie/create">Insert New Movie</a> <br />
  <a href="http://cs.sonoma.edu/~haderman/cs355/">CS355</a> <br />
  <a href="http://cs.sonoma.edu/">CS Department</a> <br />
  <a href="http://www.sonoma.edu/">Sonoma State University</a>
</div>
<div id="content">
  <table>
  <tr>
    <th>Number</th>
    <th>Name</th>
    <th>Professor</th>
  </tr>
  <tr>
    <td>CS450</td>
    <td>Operating Systems</td>
    <td>Rivoire</td>
  </tr>
  <tr>
    <td>CS355</td>
    <td>Database Design</td>
    <td>Haderman</td>
  </tr>
  <tr>
    <td>CS390</td>
    <td>Computer Science Colloquium</td>
    <td>Ledin</td>
  </tr>
  <tr>
    <td>CS470</td>
    <td>Advanced Software Design Project</td>
    <td>Kooshesh</td>
  </tr>
  </table>
  <p>The top three things I've learned:</p>
  <ol>
    <li>C programming</li>
    <li>Parallel Programming</li>
    <li>Object-oriented Programming</li>
  </ol>
  <p>Three things I want to learn:</p>
  <ul>
    <li>Unit testing</li>
    <li>More programming (especially functional programming)</li>
    <li>AI algorithms</li>
  </ul>
  <button id="alert">Click Me</button>
</div>
<div id="footer">
  Copyright © W3Schools.com
</div>
<script>
  document.getElementById("alert").onclick = function () {
    alert("This is a message!");
  }
</script>
</body>
</html>

